#quarto-document-content {
    font-family: "dejavu-serif", "Noto Sans KR", serif;
    font-optical-sizing: auto;
    font-size: 1.05em;
}

.title {
    text-align: center;
    font-size: 2.2em;
}

h1:not(.title) {
    text-align: center;
    font-weight: 600;
    font-size: 1.15em;
    border-bottom: 1px solid white;
}

h2 {
    text-align: center;
    font-weight: 600;
    font-size: 1.05em;
    border-bottom: none;
}

h3 {
    font-size: 1.05em;
}

h4 {
    font-style: italic;
    font-size: 1.05em;
}

